:root{
  --branquin:#f0f0f0;
  --cinza: #716f6f;
  --azul: #854dff;
  --preto: #000000;
  --vermelho: #ff5757;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--branquin);
  font-family: sans-serif, Poppins;
}

.user-input {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  padding: 20px;
}

.input-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100px;
  position: relative;
}

.text {
  font-size: 12px;
  font-weight: bold;
  color: var(--cinza);
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.input-text {
  width: 100%;
  height: 40px;
  border: 2px solid #dcdcdc;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.arrow {
  margin-top: 20px;
  background: var(--azul);
  border: none; 
  border-radius: 50%;
  margin-left: 25px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.arrow:hover {
  background: var(--preto);
}

.date-result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.result-output {
  display: flex;
  align-items: baseline;
  margin: 5px 0;
}

.date-number {
  font-size: 68px;
  font-weight: bold;
  color: var(--azul);
  margin: 0;
  line-height: 1;
}

.date-text {
  font-size: 68px;
  font-weight: bold;
  color: var(--preto);
  margin: 0;
  margin-left: 10px;
  line-height: 1;
}

.error-message {
  color: var(--vermelho);
  font-size: 0.7rem;
  font-style: italic;
  margin-top: 0.5rem;
  visibility: hidden;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 5px;
  visibility: hidden;
}

.input-text.error {
  border-color: var(--vermelho);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .date-number,
  .date-text {
    font-weight: bold;
    font-size: 64px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 15px;
  }
  .date-number,
  .date-text {
    font-weight: bold;
    font-size: 48px;
  }
}